.section-height {
  height: calc(100vh - 86px);
  max-height: 1000px;
}

@media (max-width: 640px) {
  .section-height {
    height: calc(100vh - 78.48px);
  }
}

.hero-overlay {
  background: linear-gradient(
    to top,
    rgba(17, 24, 45, 0.75) 0%,
    rgba(17, 24, 45, 0.45) 40%,
    rgba(17, 24, 45, 0) 100%
  );
}
